.cover {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mat-drawer-container {
  padding: 20px;
}
@media (min-width: 768px)  {
  .mat-drawer-container {
    height: 100vh;
    padding: 50px;
  }
}

.img-user {
  min-width: 50px;
  max-height: 100px;
  max-width: 50px;
  min-width: 100px;
  border-radius: 50%;
  margin: 5px;
}

.container-icons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.mat-card {
  max-width: 1000px;
  margin-bottom: 20px;
}

.mat-button-base {
  margin: 8px;
}

.mat-icon-button {
  width: 50px;
  height: 50px;
}

.mat-icon:hover {
  color: #111;
  cursor: pointer;
}

.mat-icon {
  font-size: 40px;
}

.skills {
  text-align: center;
}
