.img-user {
  min-width: 50px;
  max-height: 100px;
  max-width: 50px;
  min-width: 100px;
  border-radius: 50%;
  margin: 5px;
}

.mat-card {
  max-width: 300px;
  margin-bottom: 20px;
  @media (min-width: 768px)  {
    max-width: 1000px;
  }
}

.mat-expansion-panel {
  margin-bottom: 10px;
}

.mat-accordion>.mat-expansion-panel-spacing:last-child {
  margin-bottom: 15px;
}


.mat-icon-button {
  width: 60px;
  height: 60px;
}

.mat-icon {
  font-size: 50px;
}

.mat-icon.mat-primary:hover {
  color: #111;
  cursor: pointer;
}
